<!DOCTYPE html>
<html>
    {{> head}}
    <body>
       {{> header}}
        <p>{{portfolioMsg}}
            <a href="https://github.com/jpalkire/" target="_blank">Git Hub profile</a>
        </p>

        {{> footer}}
    </body>
</html>